@font-face {
font-family: 'BDCartoonShoutRegular';
src: url('fonts/BD_Cartoon_Shout-webfont.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
#viewportWrapper {
height:450px;
width:342px;
margin:20px auto;
}
#shim { 
font-family: BDCartoonShoutRegular; 
position:absolute;
visibility:hidden
}
h1 { font-family: BDCartoonShoutRegular; text-align:center; }
body { width:342px; margin:0px auto; font-family:sans-serif; }
a { text-decoration:none; }


